# Ignore backend folder (since it belongs to a separate repository)
backend/

# Local env files
.env
.env.local
*.env.*

# Compiled / build outputs
node_modules/
.next/
out/
build/
dist/
*.tsbuildinfo

# System and temporary files
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp